# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# Sensitive variable files
*.tfvars
*.tfvars.json
*.auto.tfvars

# Local files
*.log
*.tmp

# Key files
*.pem
*.key
*.pub
runner-key*