name: Terraform Dev

on:
  push:
    branches:
      - main
    paths:
      - "live/dev/**"
      - "modules/**"
  pull_request:
    branches:
      - main
    paths:
      - "live/dev/**"
      - "modules/**"

jobs:
  terraform-dev:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: live/dev

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.9.0

      - name: Terraform fmt
        run: terraform fmt -check

      - name: Terraform init
        run: terraform init -input=false

      - name: Terraform validate
        run: terraform validate

      - name: Terraform plan
        run: terraform plan -input=false