name: Terraform Dev

on:
  push:
    branches:
      - main
    paths:
      - "live/dev/**"
      - "modules/**"
  pull_request:
    branches:
      - main
    paths:
      - "live/dev/**"
      - "modules/**"

permissions:
    id-token: write
    contents: read

jobs:
  terraform-dev:
    runs-on: ubuntu-latest



    defaults:
      run:
        working-directory: live/dev

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Azure login with OIDC
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.9.0

      - name: Terraform fmt
        run: terraform fmt -check

      - name: Terraform init
        env:
          ARM_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
          ARM_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
          ARM_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          ARM_USE_OIDC: "true"
          ARM_USE_AZUREAD: "true"
          ARM_USE_CLI: "false"
        run: terraform init -input=false

      - name: Terraform validate
        run: terraform validate

      - name: Terraform plan
        env:
          ARM_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
          ARM_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
          ARM_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          ARM_USE_OIDC: "true"
          ARM_USE_AZUREAD: "true"
          ARM_USE_CLI: "false"
        run: terraform plan -input=false
